@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';

.container-panel {
  display: flex;
  border-radius: 5px 5px 0 0;
  background-color: @--dark-accent-color;
  font-size: @--button-font-size;
  font-family: @font-family;
  color: @--main-text-color;
  padding: 1.5% 2%;
}

.ticker {
  width: 8%;
}
.name {
  width: 33%;
}

.name_portfolio {
  width: 26%;
}

.amount {
  text-align: end;
  width: 7%;
  padding-right: 1%;
}

.cost {
  text-align: end;
  width: 17%;
  padding-right: 1%;
}

.change {
  text-align: end;
  width: 10%;
  padding-right: 1%;
}
