@import '../../../styles/colors/colors';
@import '../../../styles/fonts/fonts';

.modalBox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modalBoxContent {
  padding: 50px;
  background: #394249;
  border-radius: 16px;
  min-width: 600px;
  z-index: 1;
}

.modalBoxContentAcc {
  padding: 20px 30px 0 30px;
  background: #394249;
  border-radius: 16px;
  min-width: 100px;
  position: absolute;
  top: 11%;
  right: 400px;
  z-index: 1;
}

.modalBox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.setmodalBoxDeposit{
  padding: 20px 30px;
  background: #394249;
  opacity: 0.85;
  border-radius: 16px;
  min-width: 100px;
  position: absolute;
  top: 11%;
  /* right: 400px; */
  z-index: 1;
}






