@import '../../../styles/colors/colors';
@import '../../../styles/fonts/fonts';
@import '../../../styles/shadows/shadows';

.modalBox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modalBoxContent {
  padding: 50px 45px 65px 45px;
  background: @--cards-background-color;
  box-shadow: @shadow_popup;
  backdrop-filter: blur(15px);
  border-radius: 40px;
  min-width: 400px;
  z-index: 10;
}

.modalBoxContentAcc {
  position: absolute;
  min-width: 100px;
  top: 11%;
  right: 16%;
  padding: 20px 30px 0 30px;
  background: @--cards-background-color;
  box-shadow: @shadow_popup;
  backdrop-filter: blur(15px);
  border-radius: 15px;
  z-index: 10;
}

.modalBox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.setmodalBoxDeposit {
  position: absolute;
  top: 40px;
  z-index: 10;
  max-width: 360px;
  padding: 20px 30px;
  background: #fff;
  color: @--input-text-color;
  opacity: 0.85;
  border-radius: 16px;
  font-family: @font-family;
  font-size: @--input-font-size;
}
.ok {
  color: @--green-color;
}

.err {
  color: @--red-color;
}
