@import '../../../styles/colors/colors';
@import '../../../styles/fonts/fonts';

.login {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: @--button-font-size;
  font-family: @font-family;
  color: @--main-text-color;
  z-index: 15;

  &__header {
    margin-bottom: 56px;
    font-size: @--form-font-size;
    font-family: @--head-font;
    color: @--accent-color;
  }

  &__link_to {
    justify-content: left;
    font-size: @--selector-font-size;
    color: @--silver-color;
    font-weight: 300;
  }

  &__button {
    font-size: @--button-font-size;
    font-family: @font-family;
    color: @--button-text-color;
    background-color: @background-color;
    margin: 25px 0px 0px 0px;
    align-self: flex-start;
  }
}

.close_img {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 21px;
  top: 21px;
}
