@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.login {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
  color: #ffffff;
  z-index: 15;
}
.login__header {
  margin-bottom: 56px;
  font-size: 36px;
  font-family: 'Play';
  color: #ee8100;
}
.login__link_to {
  justify-content: left;
  font-size: 13px;
  color: #e9eef2;
  font-weight: 300;
}
.login__button {
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
  color: #e9eef2;
  background-color: #272727;
  margin: 25px 0px 0px 0px;
  align-self: flex-start;
}
.close_img {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 21px;
  top: 21px;
}
