@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';

.stockChart {
  margin: 20px;
  border-radius: 20px;
  width: 70%;
  height: 55vh;
  background-color: @--dark-grey-color;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

// .chart {
//   margin-right: 52px;
// }

.tooltip {
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 15px 15px 15px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: @--hover-button-color;
  font-family: @font-family;
  font-size: @--mark-font-size;
  color: @--dark-grey-color;
}
