@import '../../../../styles/colors/colors';
@import '../../../../styles/fonts/fonts';
@import '../../../../styles/shadows/shadows';

.transactions {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: @--cards-background-color;
  box-shadow: @shadow_wallet_item;
  width: 766px;
  margin-left: 20px;
  padding: 20px 36px;
  border-radius: 10px;
  font-family: @font-family;
  font-size: @--form-font-size;
  color: @--main-text-color;

  &__info {
    display: block;
  }
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__delete {
    cursor: pointer;
  }
  &__delete:hover path {
    fill: @--accent-color;
  }
  &__summ {
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 40%;
  }
  &__difference {
    display: flex;
    font-size: @--mark-font-size;
    align-items: flex-end;
    color: @--silver-color;
    min-width: 40%;
  }
  &__last_price {
    flex-direction: column;
    margin-right: 20px;
    &__price {
      color: @--main-text-color;
    }
  }
  &__difference_amount {
    flex-direction: column;
    &__amount_dec {
      display: flex;
      flex-direction: row;
      color: @--red-color;
    }

    &__amount_inc {
      display: flex;
      flex-direction: row;
      color: @--green-color;
    }
  }

  &__actions {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
  }

  &__input {
    width: 50%;
    margin-right: 10px;
  }

  &__panel {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    padding: 6px 30px;
    border-radius: 5px 5px 0 0;
    background-color: @--dark-accent-color;
    font-size: @--mark-font-size;
    font-family: @font-family;
    color: hsla(0, 0%, 0%, 0.61);
    align-items: center;
    &__type {
      position: static;
      min-width: 20%;
      &:hover {
        color: @--main-text-color;
      }
    }

    &__amount {
      display: flex;
      min-width: 20%;
      justify-content: flex-end;
      &:hover {
        color: @--main-text-color;
      }
    }
    &__amountActive {
      display: flex;
      min-width: 20%;
      justify-content: flex-end;
      color: @--main-text-color;
    }

    &__price {
      display: flex;
      min-width: 20%;
      justify-content: flex-end;
      &:hover {
        color: @--main-text-color;
      }
    }
    &__priceActive {
      display: flex;
      min-width: 20%;
      justify-content: flex-end;
      color: @--main-text-color;
    }
    &__cost {
      display: flex;
      min-width: 22%;
      justify-content: flex-end;
      &:hover {
        color: @--main-text-color;
      }
    }
    &__costActive {
      display: flex;
      min-width: 22%;
      justify-content: flex-end;
      color: @--main-text-color;
    }
    &__date {
      display: flex;
      min-width: 18%;
      justify-content: flex-end;
      &:hover {
        color: @--main-text-color;
      }
    }
    &__dateActive {
      display: flex;
      min-width: 18%;
      justify-content: flex-end;
      color: @--main-text-color;
    }
  }
  &__history {
    margin-top: 50px;
    font-size: @--paragraph-font-size;
  }
  &__list {
    justify-content: center;
    margin-top: 8px;
  }
}

.showMore {
  display: inline-block;
  margin-top: 20px;
  color: @--main-text-color;
  font-size: @--mark-font-size;
  cursor: pointer;

  &:hover {
    color: @--accent-color;
  }
}
