@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.transactions {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea0d;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  width: 766px;
  margin-left: 20px;
  padding: 20px 36px;
  border-radius: 10px;
  font-family: 'Exo 2', 'Arial';
  font-size: 36px;
  color: #ffffff;
}
.transactions__info {
  display: block;
}
.transactions__head {
  display: flex;
  justify-content: space-between;
}
.transactions__delete {
  cursor: pointer;
}
.transactions__delete:hover path {
  fill: #ee8100;
}
.transactions__summ {
  display: flex;
  align-items: center;
  text-align: center;
}
.transactions__difference {
  display: flex;
  font-size: 14px;
  align-items: flex-end;
  color: #e9eef2;
}
.transactions__last_price {
  flex-direction: column;
  margin-right: 20px;
}
.transactions__last_price__price {
  color: #ffffff;
}
.transactions__difference_amount {
  flex-direction: column;
}
.transactions__difference_amount__amount_dec {
  display: flex;
  flex-direction: row;
  color: #fd2929;
}
.transactions__difference_amount__amount_inc {
  display: flex;
  flex-direction: row;
  color: #bbffa7;
}
.transactions__actions {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.transactions__input {
  width: 50%;
  margin-right: 10px;
}
.transactions__history {
  margin-top: 50px;
  font-size: 20px;
}
.transactions__list {
  margin-top: 20px;
}
