@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/exo2/v18/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/play/v16/6aez4K2oVqwIjtI.ttf) format('truetype');
  }

  .account {
    display: flex;
    flex-direction: column;
    align-self: center;

  }

  .account_container {
    display: flex;
    flex-direction: column;
    width: 51%;
    height: 18,5vh;
    align-items: left;
    background-color: #394249;
    border-radius: 10px;
    padding: 34px;
    align-self: center;
    margin-top: 16px;
    font-size: 20px;
    font-family: 'Exo 2', 'Arial';
    color: #ffffff;
  }

  .account__header {
    margin-top: 72px;
    margin-left: 363px;
    margin-bottom: 56px;
    font-size: 40px;
    font-family: 'Play';
    color: #000000;
  }

  .account_name {
      margin-left: 67px;
  }

  .account__nameUser {
      margin-left: 354px;
  }

