@import '../../../../styles/colors/colors';
@import '../../../../styles/fonts/fonts';
@import '../../../../styles/shadows/shadows';
.transactionItem {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  padding: 16px 30px;
  border-radius: 5px;
  background-color: @--cards-background-color;
  font-family: @font-family;
  font-size: @--selector-font-size;
  box-shadow: @shadow_transaction_item;

  &__type {
    position: static;
    min-width: 20%;
  }

  &__amount {
    display: flex;
    // position: static;
    min-width: 20%;
    justify-content: flex-end;
  }

  &__price {
    display: flex;
    // position: static;
    min-width: 20%;
    justify-content: flex-end;
  }
  &__cost {
    display: flex;
    // position: static;
    min-width: 22%;
    justify-content: flex-end;
  }
  &__date {
    display: flex;
    // position: static;
    min-width: 18%;
    justify-content: flex-end;
  }
}
