@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v18/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v16/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 11vh;
  z-index: -1;
  display: flex;
  flex-direction: row;
  background-color: #394249;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: 'Exo 2', 'Arial';
}
.footer__name {
  width: 33%;
  text-align: left;
}
.footer__privacy {
  width: 53%;
  text-align: center;
}
.footer__socnet {
  width: 33%;
  text-align: center;
  display: flex;
  z-index: 1;
  position: relative;
  left: 150px;
  bottom: 10px;
}
.fb_img {
  margin-right: 20px;
  z-index: 1;
}
.twitter_img {
  margin-right: 20px;
  z-index: 1;
}
.youtube_img {
  margin-right: 20px;
  z-index: 1;
}
.container_footer {
  width: 61%;
  display: flex;
  color: #ffffff;
}
