@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';
@import '../../styles/shadows/shadows';

.account {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__item {
    display: flex;
    height: 200px;
    margin-bottom: 16px;
    border-radius: 10px;
    background: @--cards-background-color;
    box-shadow: @shadow_cards;
    font-size: @--paragraph-font-size;
    color: @--main-text-color;
    font-family: @font-family;

    &__first_column {
      display: flex;
      flex-direction: column;
      padding: 30px 0 30px 67px;
      min-width: 50%;
      justify-content: center;
      font-size: @--form-font-size;
    }

    &__column {
      display: flex;
      flex-direction: column;
      padding: 41px 0 41px 67px;
      min-width: 50%;
      justify-content: space-between;
    }

    &__input {
      width: 50%;
    }
  }
}
