@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.account {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.account__item {
  display: flex;
  margin-bottom: 16px;
  border-radius: 10px;
  background: #eaeaea0d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: #ffffff;
  font-family: 'Exo 2', 'Arial';
}
.account__item__first_column {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 67px;
  min-width: 50%;
  justify-content: center;
  font-size: 36px;
}
.account__item__column {
  display: flex;
  flex-direction: column;
  padding: 41px 0 41px 67px;
  min-width: 50%;
  justify-content: space-between;
}
.account__item__input {
  width: 50%;
}
.account__avatar {
  position: relative;
  align-items: center;
  display: flex;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  justify-content: center;
}
.account__avatar__img {
  justify-content: center;
}
.account__avatar__img__hover {
  filter: brightness(40%);
}
.upload {
  cursor: pointer;
  position: absolute;
  color: #ee8100;
  font-size: 14px;
  z-index: 1;
}
.field {
  padding: 12px 0;
}
.field__input {
  cursor: pointer;
}
.field__input:hover {
  color: #ee8100;
}
.wrapper img {
  height: 100%;
  width: auto;
}
.cropAvatar__actions {
  display: flex;
  justify-content: space-between;
}
