@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v18/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v16/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.button {
  border-radius: 10px;
  padding: 12px 36px;
  font-family: 'Exo 2', 'Arial';
  text-decoration: none !important;
  border: none !important;
}
.button__normal {
  background-color: #2be9d9;
  color: #000000;
}
.button:hover {
  background-color: #d0fcff;
  color: #000000;
}
.button__normal:active {
  background-color: #47959a;
  color: #ffffff;
}
.button__non {
  background-color: #d0fcff;
  color: #6c7175;
}
.button__sortPush {
  background-color: #e9eef2;
  color: #000000;
  border-radius: 5px;
  padding: 4px 10px;
}
.button__sortNormal {
  background-color: #394249;
  color: #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
}
.button__push {
  background-color: #394249;
  color: #2be9d9;
}
.button__none {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  text-decoration: none !important;
  border: none !important;
}
.button__none:hover {
  background-color: rgba(43, 233, 217, 0.2);
  border-radius: 50%;
  text-decoration: none !important;
  border: none !important;
}
.button__none:active {
  background-color: rgba(43, 233, 217, 0.2);
  border-radius: 50%;
  text-decoration: none !important;
  border: none !important;
}
