@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v18/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v16/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.sorting {
  display: flex;
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
  align-items: center;
  justify-content: center;
  margin-left: 65%;
  margin-right: 1%;
}
.increase {
  margin-right: 3%;
  width: 42.7%;
  font-size: 12px;
}
.decrease {
  margin-right: 2%;
  width: 42.7%;
  font-size: 12px;
}
.sorting_img {
  padding-top: 0.5%;
  width: 14.6%;
}
