@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.stock {
  display: flex;
  border-radius: 5px;
  background-color: #eaeaea0d;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
  color: #ffffff;
  padding: 2% 2%;
  margin-top: 0.7%;
  align-items: center;
  justify-content: center;
  margin-left: 11.9%;
}
.stock__plank {
  flex-direction: row;
  opacity: 1;
}
.stock__index {
  opacity: 1;
  width: 6%;
  font-size: 12px;
  top: 50%;
}
.stock__name {
  opacity: 1;
  width: 20%;
}
.stock__cost {
  opacity: 1;
  width: 23%;
}
.stock__change {
  opacity: 1;
  color: #bbffa7;
  width: 19%;
}
.stock__counter {
  opacity: 1;
  width: 12.1%;
  display: flex;
  justify-content: space-between;
  padding-right: 1%;
}
.stock__counter__more {
  opacity: 1;
  align-items: flex-end;
}
.stock__button {
  opacity: 1;
  width: 14.8%;
}
.stock__arrow {
  opacity: 1;
  width: 5.1%;
  padding-left: 2%;
  margin-top: 1%;
}
.stock .count {
  opacity: 1;
  color: #e9eef2;
}
