@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.stock {
  display: flex;
  border-radius: 5px;
  background-color: #eaeaea0d;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
  color: #ffffff;
  padding: 1.5% 1.8%;
  margin-top: 0.7%;
  align-items: center;
}
.stock__index {
  width: 8%;
  padding-right: 1%;
  font-size: 12px;
  top: 50%;
}
.stock__name {
  width: 33%;
  padding-right: 1%;
}
.stock__name_portfolio {
  width: 26%;
  padding-right: 1%;
}
.stock__amount {
  text-align: end;
  width: 7%;
  padding-right: 1%;
}
.stock__cost {
  text-align: end;
  width: 17%;
  padding-right: 1%;
}
.stock__change {
  text-align: end;
  display: inline-block;
  width: 10%;
  padding-right: 1%;
}
.stock__change__green {
  color: #bbffa7;
}
.stock__change__red {
  color: #fd2929;
}
.stock__counter {
  width: 10%;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}
.stock__counter__less:hover path {
  fill: #ee8100;
}
.stock__counter__more:hover path {
  fill: #ee8100;
}
.stock__button {
  overflow: hidden;
  white-space: nowrap;
  margin-left: auto;
  align-self: center;
}
.stock__arrow {
  background-color: transparent;
  border: none;
  align-self: center;
  justify-content: end;
  margin-top: 5px;
  margin-left: 2%;
}
.stock .count {
  color: #e9eef2;
}
.arrowUp_img {
  transform: rotate(90deg);
}
.arrowUp_img:hover path {
  fill: #ee8100;
}
.arrowDown_img:hover path {
  fill: #ee8100;
}
