@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';

.stock {
  display: flex;
  border-radius: 5px;
  background-color: @--cards-background-color;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: @--button-font-size;
  font-family: @font-family;
  color: @--main-text-color;
  padding: 2% 1.8%;
  margin-top: 0.7%;
  align-items: center;
  // justify-content: center;
  // flex-direction: column;

  //   float: left;
  //   width: 51%;

  &__plank {
    flex-direction: row;
    opacity: 1;
  }

  &__index {
    width: 9.3%;
    // width: 6%;
    font-size: 12px;
    top: 50%;
  }

  &__name {
    width: 32.2%;
  }

  &__cost {
    width: 12.2%;
  }
  &__change {
    color: @--green-color;
    width: 11%;
  }
  &__counter {
    width: 14.2%;
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
    &__less:hover path {
      fill: @--accent-color;
    }
    &__more:hover path {
      fill: @--accent-color;
    }
  }
  &__button {
    margin-left: auto;
    width: 16%;
  }
  &__arrow {
    background-color: transparent;
    border: none;
    width: 5.1%;
    padding-left: 2%;
    margin-top: 1%;
  }

  .count {
    color: @--button-text-color;
  }
}
.arrowUp_img {
  transform: rotate(90deg);
}
