@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';

.stock {
  display: flex;
  border-radius: 5px;
  background-color: @--cards-background-color;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: @--button-font-size;
  font-family: @font-family;
  color: @--main-text-color;
  padding: 1.5% 1.8%;
  margin-top: 0.7%;
  align-items: center;

  &__index {
    width: 8%;
    padding-right: 1%;
    font-size: 12px;
    top: 50%;
  }

  &__name {
    width: 44%;
    padding-right: 1%;
  }

  &__cost {
    text-align: center;
    width: 12%;
    padding-right: 1%;
  }
  &__change {
    text-align: center;
    display: inline-block;
    width: 10%;
    padding-right: 1%;
    &__green {
      color: @--green-color;
    }
    &__red {
      color: @--red-color;
    }
  }
  &__counter {
    width: 8%;
    display: flex;
    justify-content: space-around;
    &__less:hover path {
      fill: @--accent-color;
    }
    &__more:hover path {
      fill: @--accent-color;
    }
  }
  &__button {
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    align-self: center;
  }
  &__arrow {
    background-color: transparent;
    border: none;
    align-self: center;
    justify-content: end;
    margin-top: 5px;
    margin-left: 2%;
  }

  .count {
    color: @--button-text-color;
  }
}
.arrowUp_img {
  transform: rotate(90deg);
}
.arrowUp_img:hover path {
  fill: @--accent-color;
}

.arrowDown_img:hover path {
  fill: @--accent-color;
}
