@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.sorting {
  display: flex;
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
  align-items: center;
  justify-content: end;
  right: 0;
  margin-left: 65%;
  margin-right: 1%;
  margin-bottom: 0.8%;
}
.sorting__increase {
  margin-right: 3%;
  font-size: 12px;
}
.sorting__decrease {
  margin-right: 2%;
  font-size: 12px;
}
.sorting__img {
  left: 30%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sort_img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.decreaseSort:hover path {
  fill: #ee8100;
  stroke: #ee8100;
}
.increaseSort {
  transform: scale(1, -1);
  fill: #ee8100;
  stroke: #ee8100;
}
.increaseSort:hover path {
  fill: #ee8100;
  stroke: #ee8100;
}
