@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.selectors {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  padding: 0 0 0 7%;
}
.panel_wrap {
  font-size: 12px;
  font-family: 'Exo 2', 'Arial';
  border-radius: 5px;
  color: #ffffff;
  background: #eaeaea0d;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2% 7%;
}
.panel_wrap__day {
  width: 13%;
}
.panel_wrap__week {
  width: 13%;
  background-color: #e9eef2;
}
.panel_wrap__month {
  width: 13%;
  background-color: #202020;
}
.panel_wrap__year {
  width: 13%;
  background-color: #202020;
}
.panel_wrap__all {
  width: 13%;
  background-color: #202020;
}
