@import '../../styles/colors/colors.less';
@import '../../styles/fonts/fonts.less';
@import '../../styles/shadows/shadows.less';

.selectors {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  padding: 0 0 0 7%;
}

.panel_wrap {
  font-size: 12px;
  font-family: @font-family;
  border-radius: 5px;
  color: @--main-text-color;
  background: @--cards-background-color;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2% 3%;

  &__day {
    width: 13%;
  }
  &__week {
    width: 13%;
    background-color: @--process-button-color;
  }
  &__month {
    width: 13%;
    background-color: @--hover-button-color;
  }
  &__year {
    width: 13%;
    background-color: @--hover-button-color;
  }
  &__all {
    width: 13%;
    background-color: @--hover-button-color;
  }
}

.data {
  display: flex;
  justify-content: space-around;
}
