.modalBox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.modalBoxContent {
  padding: 50px;
  background: #394249;
  border-radius: 16px;
  min-width: 600px;
}

.modalBox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
