@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.container {
  display: flex;
  margin: 10px auto;
  max-width: 66.7%;
  align-items: center;
  justify-content: space-between;
}
.option_wrapper {
  display: flex;
  align-items: center;
}
.navbar {
  width: 100%;
  background-color: #272727;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
}
.navbar__logo {
  max-width: 164px;
  display: block;
}
.navbar__logo__img {
  max-width: 100%;
}
.navbar__search {
  align-items: center;
  position: relative;
  display: flex;
  margin-left: auto;
}
.navbar__search__img {
  position: absolute;
  right: 12px;
  max-width: 25px;
  display: inline-block;
  z-index: 1;
  cursor: pointer;
}
.navbar__buttons {
  display: flex;
  padding-left: 24px;
  align-items: center;
}
.navbar__registration {
  margin-left: 10px;
}
.navbar__wallet {
  margin-left: 20px;
}
.navbar__wallet:hover path {
  fill: #ee8100;
}
.navbar__portfolio {
  margin-left: 20px;
}
.navbar__portfolio:hover path {
  fill: #ee8100;
}
.navbar__account {
  width: 28px;
  height: 28px;
  margin-left: 20px;
  cursor: pointer;
}
.navbar__account:hover path {
  fill: #ee8100;
}
.user {
  display: block;
  right: 0;
}
.acc_pop_up {
  text-decoration: none !important;
  border: none !important;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  text-align: right;
}
.acc_pop_up__b {
  text-decoration: none !important;
  color: #bbffa7;
}
.acc_pop_up__b:hover {
  color: #bbffa7;
}
.acc_pop_up:hover {
  color: #ee8100;
}
.close_img:hover path {
  fill: #ee8100;
}
.wrapper img {
  height: 100%;
  border-radius: 50%;
  width: auto;
}
