@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';
@import '../../styles/shadows/shadows';

//ширина контейнера 1280
.container {
  display: flex; //inline-block
  margin: 10px auto;
  max-width: 66.7%;
  align-items: center;
  justify-content: space-between;
}

.option_wrapper {
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: @background-color;
  box-shadow: @shadow_navbar;
  font-size: @--button-font-size;
  font-family: @font-family;
  padding: 0 calc(15px - (100vw - 100%)) 0 0;

  &__logo {
    max-width: 164px;
    display: block;
    &__img {
      max-width: 100%;
    }
  }

  &__search {
    align-items: center;
    position: relative;
    display: flex;
    margin-left: auto; //449 после того, как иконку внутрь втащу????(не факт что надо трогать)
    &__img {
      position: absolute;
      right: 12px;
      max-width: 25px;
      display: inline-block;
      z-index: 1;
      cursor: pointer;
    }
  }

  &__buttons {
    display: flex;
    padding-left: 24px;
    align-items: center;
  }

  &__registration {
    margin-left: 10px;
  }

  &__wallet {
    margin-left: 20px;
  }
  &__wallet:hover path {
    fill: @--accent-color;
  }

  &__portfolio {
    margin-left: 20px;
  }
  &__portfolio:hover path {
    fill: @--accent-color;
  }

  &__account {
    width: 28px;
    height: 28px;
    margin-left: 20px;
    cursor: pointer;
  }
  &__account:hover path {
    fill: @--accent-color;
  }
  &__close {
    &__img {
      position: absolute;
      right: 50px;
      max-width: 25px;
      display: inline-block;
      z-index: 1;
      cursor: pointer;
    }
  }
}

.user {
  display: block;
  right: 0;
}

.acc_pop_up {
  text-decoration: none !important;
  border: none !important;
  color: @--main-text-color;
  font-size: @--paragraph-font-size;
  margin-bottom: 25px;
  cursor: pointer;
  text-align: right;
  &__b {
    text-decoration: none !important;
    color: @--green-color;
  }
  &__b:hover {
    color: @--green-color;
  }
}

.acc_pop_up:hover {
  color: @--accent-color;
}

.close_img:hover path {
  fill: @--accent-color;
}

.wrapper img {
  height: 100%;
  border-radius: 50%;
  width: auto;
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: none;
    justify-content: space-around;
  }
}

@media screen and (max-width: 960px) {
  // .navbar__search__img {
  //   position: relative;
  // }
  // .navbar__search__img path {
  //   fill: @--light-grey-color;
  // }
  .navbar__logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .button.button__normal.navbar__registration {
    display: none;
  }
}
