@import '../../../styles/colors/colors';
@import '../../../styles/fonts/fonts';

.registration {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: center;
  font-size: @--button-font-size;
  font-family: @font-family;
  color: @--main-text-color;
  z-index: 1;

  &__header {
    margin-bottom: 56px;
    font-size: @--form-font-size;
    font-family: @--head-font;
    color: @--accent-color;
  }

  // &__header {
  //   font-size: @--head-font-size;
  //   font-family: @--head-font;
  //   color: @--accent-color;
  // }

  &__button {
    // position: absolute;
    // left: 11.25%;
    // right: 29.5%;
    // top: 83.67%;
    // bottom: 10.02%;
    font-size: @--button-font-size;
    font-family: @font-family;
    color: @--button-text-color;
    background-color: @background-color;
    margin: 25px 0px 0px 0px;
    align-self: flex-start;
  }
}
.close_img {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 21px;
  top: 21px;
}
