@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';

//ширина контейнера 1152px
.stockList {
  width: 100%;
  font-family: @font-family;

  &__info {
    display: flex;
    gap: 20px;
    margin-bottom: 72px;
  }
}

.container2 {
  margin: 72px auto;
  max-width: 60.6%;
}
.title {
  color: @--button-text-color;
  font-size: @--head-font-size;
  font-family: @--head-font;
  width: auto;
}

.list {
  align-items: center;
  justify-content: center;
}

.panel {
  width: 100%;
  justify-content: center;
}
