@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';

//ширина контейнера 1152px
.stockList {
  width: 100%;
  // display: block;
  // min-height: 75vh;
  // padding: 0 55px 0 0;
  font-family: @font-family;
  //   margin-left: 19%;
}

.container2 {
  //   width: 61%;
  margin: 72px auto;
  max-width: 60.6%;
}
.title {
  color: @--button-text-color;
  font-size: @--head-font-size;
  font-family: @--head-font;
  width: auto;
}

.list {
  align-items: center;
  justify-content: center;
  // margin: 2% 19.5% 2% 12%;
  // padding-left: 6%;
}

// .sort {
//   max-width: 20%;
// }

.panel {
  width: 100%;
  justify-content: center;
}
// .number {
//   float: left;
//   margin-left: 10%;
//   margin-top: 0.7%;
//   padding-top: 3%;
//   font-size: @--button-font-size;
//   font-family: @font-family;
//   color: @font-family;
//   font-weight: 600;
// }
// .stoks {
// }
