@import '../../../../styles/colors/colors';
@import '../../../../styles/fonts/fonts';
@import '../../../../styles/shadows/shadows.less';
.walletItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  padding: 20px 36px;
  gap: 55px;
  border-radius: 25px;
  width: 320px;
  height: 86px;
  background-color: @--cards-background-color;
  font-family: @--head-font;
  color: @--main-text-color;
  box-shadow: @shadow_wallet_item;
  border: none !important;

  &__push {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    padding: 20px 36px;
    gap: 55px;
    border-radius: 25px;
    width: 320px;
    height: 86px;
    background-color: @--silver-color;
    font-family: @--head-font;
    color: @--input-text-color;
    box-shadow: @shadow_push_wallet_item;
    border: none !important;
  }

  &:hover {
    background-color: @--silver-color;
    box-shadow: @shadow_push_wallet_item;
  }
  &:active {
    background-color: @--silver-color;
    box-shadow: @shadow_push_wallet_item;
  }

  &:hover &__balance {
    color: @--input-text-color;
  }
  &:active &__balance {
    color: @--input-text-color;
  }

  &__title {
    font-size: @--head-font-size;
    color: @--accent-color;
  }

  &__balance {
    display: flex;
    font-size: @--head-font-size;
    color: @--main-text-color;

    &__push {
      font-size: @--head-font-size;
      color: @--input-text-color;
    }
  }
}
