@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvOcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8j4PKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jF_WcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.walletItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-bottom: 16px;
  padding: 20px 36px;
  border-radius: 25px;
  width: 320px;
  height: 86px;
  font-family: 'Play';
  border: none !important;
}
.walletItem__push {
  background-color: #e9eef2;
  color: #000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7), inset -8px -8px 5px #ffffff, inset 8px 8px 8px rgba(171, 171, 171, 0.7);
}
.walletItem__normal {
  background-color: #eaeaea0d;
  color: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.walletItem:hover {
  background-color: #e9eef2;
  color: #000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7), inset -8px -8px 5px #ffffff, inset 8px 8px 8px rgba(171, 171, 171, 0.7);
}
.walletItem:active {
  background-color: #e9eef2;
  color: #000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7), inset -8px -8px 5px #ffffff, inset 8px 8px 8px rgba(171, 171, 171, 0.7);
}
.walletItem:hover .walletItem__balance {
  color: #000;
}
.walletItem:active .walletItem__balance {
  color: #000;
}
.walletItem__title {
  font-size: 20px;
  color: #ee8100;
}
.walletItem__balance {
  display: flex;
  font-size: 40px;
  color: #ffffff;
}
.walletItem__balance__push {
  font-size: 40px;
  color: #000;
}
.walletItem__sum {
  font-size: 28px;
}
