@background-color: #272727;

@--main-text-color: #ffffff;
@--button-text-color: #e9eef2;

@--main-button-color: #272727;
@--hover-button-color: #202020;
@--down-button-color: #ee8100;

@--accent-color: #ee8100;
@--dark-accent-color: #ee8100;

@--main-grey-color: #9293b0;
@--dark-grey-color: #4d4d4d;
@--light-grey-color: #e9eef2;

@--green-color: #bbffa7;
@--red-color: #ff2a51;
