* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9eef2;
  position: relative;
  height: 100%;
}
#root {
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  width: 100;
  display: flex;
  flex-direction: column;
}
