@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v18/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v16/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.auth {
  border: none;
  background: #e9eef2;
  color: #000000;
  font-family: 'Exo 2', 'Arial';
  font-size: 20px;
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 5px;
}
.auth:focus {
  outline: none;
}
.search {
  border: 1px;
  width: 80%;
  background-color: #e9eef2;
  font-family: 'Exo 2', 'Arial';
  font-size: 16px;
  color: #000000;
  border-radius: 10px;
  padding: 2% 5% 2% 10%;
  outline: none;
}
