@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';
.list {
  width: 60%;
  font-family: @font-family;
}

.title {
  margin-top: 5vh;
  color: @--button-text-color;
  font-size: @--head-font-size;
  font-family: @--head-font;
  width: auto;
}
