@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v18/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v16/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.history {
  display: flex;
  border-radius: 5px;
  background-color: #6c7175;
  font-size: 16px;
  font-family: 'Exo 2', 'Arial';
  color: #ffffff;
  padding: 2% 2%;
  margin-top: 0.7%;
  justify-content: space-around;
  margin-left: 11.9%;
}
.history__type {
  width: 15%;
  margin-left: 1%;
}
.history__name {
  width: 20%;
}
.history__summ {
  display: inline-block;
  width: 30%;
}
.history__price {
  width: 40%;
}
.history__date {
  display: inline-block;
  width: 30%;
}
