@import '../../../styles/colors/colors';
@import '../../../styles/fonts/fonts';
@import '../../../styles/shadows/shadows';

.button {
  display: flex;
  border-radius: 22px;
  padding: 10px 40px 12px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: @font-family;
  font-size: @--button-font-size;
  text-decoration: none !important;
  border: none !important;

  &:hover {
    background-color: @--hover-button-color;
    color: @--hover-button-text-color;
    box-shadow: @shadow_dark_buttons;
  }
  &:active {
    background-color: @--down-button-color;
    color: @--button-text-color;
    box-shadow: @shadow_dark_buttons;
  }
  &__normal {
    background-color: @--main-button-color;
    color: @--button-text-color;
    box-shadow: @shadow_dark_buttons;
  }
  &__process {
    background-color: @--process-button-color;
    color: @--hover-button-color;
    box-shadow: @shadow_light_buttons;
    &:hover {
      background-color: @--process-button-color;
      color: @--hover-button-text-color;
      box-shadow: @shadow_light_buttons;
    }
  }

  &__non {
    //???????
    background-color: @--hover-button-color;
    color: @--disable-color;
  }

  &__sortPush {
    font-size: @--selector-font-size;
    background-color: @--process-button-color;
    color: @--hover-button-color;
    border-radius: 5px;
    padding: 4px 10px;
    box-shadow: @shadow_push_selector_buttons;
    &:hover {
      background-color: @--process-button-color;
      color: @--hover-button-color;
      box-shadow: @shadow_push_selector_buttons;
    }
  }
  &__sortNormal {
    font-size: @--selector-font-size;
    background-color: @--hover-button-color;
    color: @--process-button-color;
    border-radius: 5px;
    padding: 4px 10px;
    box-shadow: @shadow_normal_selector_buttons;
    &:hover {
      background-color: @--hover-button-color;
      color: @--hover-button-text-color;
      box-shadow: @shadow_normal_selector_buttons;
    }
    &:active {
      background-color: @--down-button-color;
      color: @--button-text-color;
    }
  }

  &__push {
    background-color: @--dark-grey-color;
    color: @--accent-color;
  }

  &__none {
    //убирает фон кнопки (для каунтеров
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    text-decoration: none !important;
    border: none !important;
  }

  &__link_to {
    display: inline-block;
    color: @--silver-color;
    font-size: @--selector-font-size;
    cursor: pointer;
    font-weight: 300;
  }
  &__link_to:hover {
    color: @--accent-color;
    cursor: pointer;
  }
}
