@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v20/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v17/6aez4K2oVqwIjtI.ttf) format('truetype');
}
.button {
  border-radius: 10px;
  padding: 12px 36px;
  font-family: 'Exo 2', 'Arial';
  text-decoration: none !important;
  border: none !important;
}
.button__normal {
  background-color: #272727;
  color: #e9eef2;
}
.button:hover {
  background-color: #202020;
  color: #e9eef2;
}
.button__normal:active {
  background-color: #ee8100;
  color: #ffffff;
}
.button__non {
  background-color: #202020;
  color: #9293b0;
}
.button__sortPush {
  background-color: #e9eef2;
  color: #e9eef2;
  border-radius: 5px;
  padding: 4px 10px;
}
.button__sortNormal {
  background-color: #4d4d4d;
  color: #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
}
.button__push {
  background-color: #4d4d4d;
  color: #ee8100;
}
.button__none {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  text-decoration: none !important;
  border: none !important;
}
.button__none:hover {
  background-color: rgba(43, 233, 217, 0.2);
  border-radius: 50%;
  text-decoration: none !important;
  border: none !important;
}
.button__none:active {
  background-color: rgba(43, 233, 217, 0.2);
  border-radius: 50%;
  text-decoration: none !important;
  border: none !important;
}
