@shadow_dark_buttons:-5px -5px 15px rgba(63, 63, 63, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.4),
inset 5px 5px 15px rgba(0, 0, 0, 0.3), inset -5px -5px 15px rgba(77, 77, 77, 0.3);

@shadow_light_buttons:-5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.6),
inset 5px 5px 5px rgba(171, 171, 171, 0.5), inset -5px -5px 5px #ffffff;

@shadow_push_selector_buttons: -3px -3px 8px rgba(77, 77, 77, 0.3),
  3px 3px 8px rgba(0, 0, 0, 0.3), inset 5px 5px 8px rgba(0, 0, 0, 0.3),
  inset -5px -5px 8px #ffffff;

@shadow_normal_selector_buttons: inset 5px 5px 8px rgba(0, 0, 0, 0.3),
  inset -5px -5px 8px rgba(77, 77, 77, 0.3), -3px -3px 8px rgba(77, 77, 77, 0.3),
  3px 3px 8px rgba(0, 0, 0, 0.3);

@shadow_navbar:0px 4px 4px rgba(0, 0, 0, 0.25);

@shadow_popup: 0px 4px 4px rgba(0, 0, 0, 0.25),
  inset 2px 4px 8px 0 rgba(111, 111, 111, 0.25),
  inset -2px 0px 4px 0 rgba(0, 0, 0, 0.5);

@shadow_wallet_item: 4px 4px 4px rgba(0, 0, 0, 0.25),
  inset 0px 0px 4px rgba(0, 0, 0, 0.5);

@shadow_push_wallet_item: 5px 5px 15px rgba(0, 0, 0, 0.7),
  inset -8px -8px 5px #ffffff, inset 8px 8px 8px rgba(171, 171, 171, 0.7);

@shadow_transaction_item: 0px 4px 4px rgba(0, 0, 0, 0.25),
  inset 0px 1px 4px rgba(0, 0, 0, 0.5);

@shadow_danger_button: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.6), inset 5px 5px 5px rgba(180, 0, 0, 0.5),
  inset -4px -4px 5px rgba(228, 114, 114, 0.35);

@shadow_cards: 0px 4px 4px rgba(0, 0, 0, 0.25),
  inset 0px 1px 4px rgba(0, 0, 0, 0.5);
