.inputBox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.inputBoxContent {
  // padding: 50px;
  border-radius: 16px;
  // min-width: 100%;
}

.inputBox.active {
  display: block;
  position: relative;
}
