@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo2/v18/7cH1v4okm5zmbvwkAx_sfcEuiD8jvvKcPg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v16/6aez4K2oVqwIjtI.ttf) format('truetype');
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputBox {
  width: 50%;
  max-width: 50%;
  margin-left: 5%;
  right: 0;
}
.inputBox:active > .inputBoxFull {
  display: flex;
  position: relative;
  border-radius: 16px;
  width: 50%;
  padding: 1% 2%;
  background-color: #e9eef2;
  color: #000000;
  border-radius: 5px;
}
.inputBoxFull > .inputBoxText {
  display: block;
  width: 100%;
}
.inputBoxText {
  display: none;
  border-radius: 16px;
  width: 0;
  padding: 1% 2%;
  border-radius: 5px;
  transition: 0.4s;
  border: 1px;
  background-color: #e9eef2;
  font-size: 16px;
  color: #000000;
  padding: 2% 5% 2% 10%;
  outline: none;
}
.deposit_false {
  color: #ff9180;
}
