@import "../../utils/colors/colors";
@import "../../utils/fonts/font.less";

//ширина контейнера 1080
.navbar {
  display: fixed;
  background-color: #394249;
  //   justify-content: center;
  height: 14%;
  //   min-height: 7vh;
  width: 100%;
  color: aqua;
  font-size: @font-size;

  &__logo {
    // margin-left: 14%;
    display: block;
    width: 16.6%;
    height: 63%;
  }

  &__search {
    // margin-left: 6.25%;
    padding-left: 10%;
    width: 50%;
    // height: 34.4%;
  }

  &__login {
    // margin-left: auto;
    // margin-right: 20px;
    width: 15%;
    // color: rgb(167, 8, 8);

    &__registration {
      //   margin-left: 14%;
      width: 15%;
      //   height: 80%;
    }
  }
}

.container {
  width: 66.7%;
  display: flex;
  align-items: center;
  background-color: #394249;
  margin-left: 16%;
}

// .container3{
//     width: 1280px;
//     display: flex;
//     align-items: center;
//     background-color: #394249;
// }

// .container4{
//     width: 1280px;
//     display: flex;
//     align-items: center;
//     background-color: #394249;
// }

// .container5{
//     width: 1280px;
//     display: flex;
//     align-items: center;
//     background-color: #394249;
// }
