.navbar {
  display: fixed;
  background-color: #394249;
  height: 14%;
  width: 100%;
  color: aqua;
  font-size: 20px;
}
.navbar__logo {
  display: block;
  width: 16.6%;
  height: 63%;
}
.navbar__search {
  padding-left: 10%;
  width: 50%;
}
.navbar__login {
  width: 15%;
}
.navbar__login__registration {
  width: 15%;
}
.container {
  width: 66.7%;
  display: flex;
  align-items: center;
  background-color: #394249;
  margin-left: 16%;
}
